@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}

.container{
    max-width: 1630px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.b-l4{
    font-size: 20px;
}

.main{
    display: flex;
}

.block-right{
    padding: 50px;
}

.block-left{
    width: 350px;
    font-size: 20px;
    display: flex;
    background: #f1efef
}

td{
    font-weight: bold;
}

.square{
    border-collapse: collapse;
    
    text-align: center;
    font-size: 20px;
}

.square-1{
    
    padding: 20px;
    width: 1470px;
    line-height: 25px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(11, 11, 255);
    margin-bottom: 10px;
}



b{
    font-size: 20px;
}
.table{
    border-color: rgb(219, 219, 219);
}

.menu-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 5px;
    font-size: 20px;
}

.menu-count{
    position: relative;
}

.menu-nav a{
    padding: 5px;
    color: #053cb4;
}

.sod{
    margin-top: 50px;
}

.header{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(img/beautiful-skyscape-daytime.jpg) center/cover no-repeat;
}

.code1{
    border: 2px solid #053cb4;
    background-color: #79BCE5;
}

.header-logo img{
    width: 100px;
    height: 100px;
}

.header-nav{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}

.header-count{
    display: flex;

}

.header-count a{
    margin-left: 10px;
    margin-right: 10px;
}

.menu-left{
    margin-left: 30px;
    color: #053cb4;
    text-decoration: none;
    display: flex;
    line-height: 50px;
    margin-top: 20px;
    text-shadow: 5px 5px 25px #464646;
    margin-bottom: 20px;
    text-align: center;
    width: 300px;
}

.menu-title{
    color: #053cb4;
}

.square-1{
    border: 2px solid rgb(219, 219, 219);
}

.img{
    margin-top: 20px;
    margin-left: 160px;
}

.block-info{
    padding: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(img/beautiful-skyscape-daytime.jpg) center/cover no-repeat;
    margin-top: -182px;
}

p{
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
}

.img{
    margin-left: -100px;
}

.img-vk{
    font-size: 10px;
    margin-left: 20px;
}

.down-block{
    margin-top: 100px;
}


.block-info-4{
    width: 100%;
    height: 175px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #79BCE5;
}

.info-p-1{
    color: black;
    margin-top: -30px;
}

tr{
    border: 2px solid rgb(219, 219, 219);
}

p{
    
    text-align: justify;
}

.b-bold{
    font-weight: normal;
    color: black;
}

.img-doctype{
    border: 2px solid rgb(219, 219, 219);
}

.block-info-p{
    color: white;
    display: flex;
    font-size: 40px; 
}

.zvonok{
    margin-top: -20px;
}

.header-link{
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 20px;
    margin-left: 1500px;
    text-decoration: none;
    text-shadow: 5px 5px 30px #095a94;
}



.block-info-text{
    border-radius: 20px;
    width: 800px;
    font-size: 35px;
    height: 210px;
    color: white;
    padding-top: 70px;
    margin-left: 260px;
    padding-bottom: 70px;
    text-shadow: 5px 5px 3px #095a94;
}

.block-info-text-p{
    font-size: 35px;
    color: white;
    width: 100%;
    font-weight: normal;
    text-shadow: 5px 5px 3px #095a94;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
}

.block{
    font-size: 20px;
    margin-left: 100px;
}

.img-vk{
    margin-top: -10px;
    font-size: 10px;
    margin-left: 20px;
}

.telegram{
    margin-top: -25px;
    font-size: 10px;
}

.telefon{
    margin-top: -10px;
}

.text-center{
    text-align: center;
    margin-right: 1000px;
    margin-top: -200px;
    font-size: 30px;
    font-weight: bold;
}

.header-logo img{
    width: 180px;
}

.block{
    font-size: 20px;
    margin-left: 100px;
}

.img-2{
    width: 200px;
    height: 200px;
    margin-left: 320px;
    
}

.block{
    font-size: 20px;
    margin-left: 100px;
}

.menu-p{
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
}

.blue{
    color: rgb(11, 11, 255);
}

.green{
    color: green;
}

.black{
    color: black;
}

